h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul
            li 
                span 250201015-02. Formular la idea y el tema para el guion cinematográfico de ficción de acuerdo con requerimientos y/o directrices de la producción