.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white
        p
            strong.mr-2 Conflicto:	
            | enfrentamiento entre fuerzas y personajes que desarrollan la acción.

        hr
        p
            strong.mr-2 Drama:	
            | “1. m. Obra literaria escrita para ser representada.
            br
            |  2. m. Obra de teatro o de cine en que prevalecen acciones y situaciones tensas y pasiones conflictivas” (RAE, 2019). 

        hr
        p
            strong.mr-2 Ideología:	
            | “1. f. Conjunto de ideas fundamentales que caracteriza el pensamiento de una persona, colectividad o época, de un movimiento cultural, religioso o político, etc.” (RAE, 2019).

        hr
        p
            strong.mr-2 Metodología:	
            | “Conjunto de métodos que se siguen en una investigación científica o en una exposición doctrinal” (RAE, 2019).
