.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th.text-center Autor, (año del documento o material),  Nombre del documento o material.
                    th.text-center Tipo de material ( Video, capítulo de libro, articulo, otro) 
                    th.text-center(style="width:150px") Enlace del Recurso o Archivo del documento o material

            tbody
                tr
                    td Campos, D. (2016). 3.6 La idea.	
                    td Video	
                    td 
                        a(href="https://www.youtube.com/watch?v=VEpc84lr8Qk", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ver


                tr
                    td Campos, D. (2016). 2. 11 El tema 	
                    td Video	
                    td 
                        a(href="https://www.youtube.com/watch?v=pZSaeHLckrk&t=1s", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ver


                tr
                    td Teatroarquitos. (2011). El contexto dramático.	
                    td Blog	
                    td 
                        a(href="https://teatroarquitos.wordpress.com/2011/01/29/el-contexto-dramatico/", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ver

